<div class="container py-4">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center"><strong>Registered Customers</strong></h5>
            </div>
            <div class="card-body">
              <button class="btn btn-success" [routerLink]="['/addClient']">Create Client</button>
              <br><br>
              <div class="table-responsive text-nowrap">
                <table class="table table-striped table-bordered text-center">
                  <thead>
                    <tr>
                      <th scope="col">Firstname</th>
                      <th scope="col">Lastname</th>
                      <th scope="col">Identification Type</th>
                      <th scope="col">Identification Number</th>
                      <th scope="col">Email</th>
                      <th scope="col">Date Of Birth</th>
                      <th scope="col">CreatedAt</th>
                      <th scope="col">UpdatedAt</th>
                      <th scope="col">Manage</th>
                      <th scope="col">Products</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let client of clients">
                      <td>{{ client.firstName }}</td>
                      <td>{{ client.lastName }}</td>
                      <td>{{ client.identificationType }}</td>
                      <td>{{ client.identificationNumber }}</td>
                      <td>{{ client.email }}</td>
                      <td>{{ client.dateOfBirth }}</td>
                      <td>{{ client.createdAt }}</td>
                      <td>{{ client.updatedAt }}</td>
                      <td><button type="button" name="button" class="btn btn-success" [routerLink]="['/clients',client.id]"><i class="fa-solid fa-pen-to-square"></i></button> | <button type="button" name="button" class="btn btn-danger" (click)="delete(client)"><i class="fa-solid fa-trash"></i></button></td>
                      <td><button class="btn btn-primary" role="button" [routerLink]="[client.id,'products']"><i class="fa-solid fa-piggy-bank"></i></button></td>
                    
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
    </div>
</div>

