<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a title="Home" class="navbar-brand" href="/home">&nbsp;<img src="./assets/Bank.png" width="30" height="30"
        class="d-inline-block align-top" alt="" />
      BankSophos
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div *ngIf="token" class="navbar-nav">
        <a title="View Clients Info" class="nav-item nav-link active" href="/clients">Clients Info</a>
        <a title="Create a new Client" class="nav-item nav-link active" href="/addClient">New Client</a>
      </div>
      <div class="navbar-nav ms-auto">
        <button title="Close Sesion" *ngIf="token != null" class="btn btn-dark" (click)="destroyToken()"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Log Out</button>
        <a *ngIf="token == null" class="btn btn-dark" href="/login">Login&nbsp;<i class="fa-solid fa-user"></i></a>
      </div>
    </div>

  </nav>