<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a title="Home" class="navbar-brand" href="/home">&nbsp;<img src="./assets/Bank.png" width="30" height="30"
        class="d-inline-block align-top" alt="" />
      BankSophos
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a title="" class="nav-item nav-link active" href="/clients">Clients Info</a>
        <a class="nav-item nav-link active" href="/addClient">New Client</a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkupp">
      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link" (click)="destroyToken()" href="/home">Logout</a>
      </div>
    </div>
  </nav>