<div class="container">
    <div class="row py-4">
        <div class="card py-4">
            <div class="card-header">
                <h5 class="card-title text-center"><strong>Transaction Creation</strong></h5>
            </div>
            <form>

                <div class="row g-3 align-items-center py-2">
                    <div class="col-md-4">
                        <label for="accountType">Select the type of transaction to create:</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-select" aria-label="Default select example" name="typeOfTransaction"
                            [(ngModel)]="transaction.typeOfTransaction">
                            <option selected disabled>Type Of Transaction</option>
                            <option value="consignment">Consignment</option>
                            <option value="withdrawal">Withdrawal</option>
                            <option value="transfer">Transfer</option>
                        </select>
                    </div>
                </div>

                <div class="row g-3 align-items-center py-2" *ngIf="transaction.typeOfTransaction == 'transfer'">
                    <div class="col-md-4">
                        <label for="accountType">Select the account number to transfer:</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-select" aria-label="Default select example">
                            <option value="product.id" *ngFor="let product of products">
                                {{ product.accountNumber }}
                           </option>
                        </select>
                    </div>
                </div>
                
                <div class="row g-3 align-items-center py-2" *ngIf="transaction.typeOfTransaction == 'withdrawal'">
                    <div class="col-md-4">
                        <label for="accountType">Select the type of movement to create:</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-select" aria-label="Default select example" name="typeOfMovement"
                            [(ngModel)]="transaction.typeOfMovement">
                            <option selected disabled>Type Of Movement</option>
                            <option value="credit">Credit</option>
                        </select>
                    </div>
                </div>

                <div class="row g-3 align-items-center py-2" *ngIf="transaction.typeOfTransaction == 'consignment'">
                    <div class="col-md-4">
                        <label for="accountType">Select the type of movement to create:</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-select" aria-label="Default select example" name="typeOfMovement"
                            [(ngModel)]="transaction.typeOfMovement">
                            <option selected disabled>Type Of Movement</option>
                            <option value="debit">Debit</option>
                        </select>
                    </div>
                </div>

                <div class="row g-3 align-items-center py-2">
                    <div class="col-md-1">
                        <label for="description" class="col-form-label">Description:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="description" [(ngModel)]="transaction.description" aria-describedby="passwordHelpInline"
                            placeholder="Description">
                    </div>
                    <div class="col-md-1">
                        <label for="value" class="col-form-label">Value:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="number" class="form-control" name="value" [(ngModel)]="transaction.value" aria-describedby="passwordHelpInline"
                            placeholder="Value">
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-success" style="width: 226px;" role="button"
                        (click)='createTransaction()'>Create</button>
                </div>

                <div class="text-center mt-2">
                    <a class="btn btn-danger" href="javascript:history.back(-1);" style="width: 226px;" role="button">Cancel</a>
                </div>  

            </form>
        </div>
    </div>
</div>