<div class="container py-4">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center"><strong>Registered Products By Customer</strong></h5>
            </div>
            <div class="card-body">
                <button class="btn btn-success" [routerLink]="['addProduct']">Create Product</button>
                <br><br>
              <div class="table-responsive text-nowrap">
                <table class="table table-striped table-bordered text-center">
                  <thead>
                    <tr>
                      <th scope="col">AccountType</th>
                      <th scope="col">AccountNumber</th>
                      <th scope="col">Status</th>
                      <th scope="col">Balance</th>
                      <th scope="col">AvailableBalance</th>
                      <th scope="col">GMF</th>
                      <th scope="col">CreatedAt</th>
                      <th scope="col">UpdatedAt</th>
                      <th scope="col">Transactions</th>
                      <th scope="col">Manage</th>
                      <th scope="col">Change Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of products">
                      <td>{{ product.accountType }}</td>
                      <td>{{ product.accountNumber }}</td>
                      <td>{{ product.status }}</td>
                      <td>{{ product.balance }}</td>
                      <td>{{ product.availableBalance }}</td>
                      <td>{{ product.gmf }}</td>
                      <td>{{ product.createdAt }}</td>
                      <td>{{ product.updatedAt }}</td>
                      <td><button type="button" name="button" class="btn btn-primary" [routerLink]="[product.id,'transactions']"><i class="fa-solid fa-circle-info"></i></button></td>
                      <td><button type="button" name="button" class="btn btn-success" [routerLink]="['transactions',product.id,'add']"><i class="fa-solid fa-face-smile"></i></button></td>
                      <td><button class="btn btn-danger" [routerLink]="[product.id]"><i class="fa-solid fa-code-compare"></i></button></td>
                    </tr>
                  </tbody>
                </table>  
              </div>

            </div>
          </div>
    </div>
</div>
