<div class="wrapper  pb-4">
    <div class="profile">
        <div class="overlay">
            <div class="about d-flex flex-column">
                <h2>Nicolas Erazo Arce</h2>
                <h5>Ingeniero Electronico</h5>
            </div>
            <div class="professional-profile d-flex flex-column">
                <h6 class="text-center">Tecnologo en Sistemas Electromecanicos, actualmente terminando decimo semestre
                    de Ingenieria Electronica en la Universidad Nacional Abierta y a Distancia (UNAD). <br><br> Soy
                    desarrollador de software fullstack, manejo lenguajes de programacion como Java - PHP - Python,
                    frameworks como Flask - Django - Laravel - Springboot - Angular, bases de datos como MySQL - Oracle
                    - Postgres - Sqlite3. <br><br> Soy una persona enfocada en el aprendizaje constante que se adapta
                    fácilmente al cambio, con capacidad de toma de decisiones, resolución de conflictos, habilidades
                    sociales y/o comunicativas que me permiten trabajar en equipo con actitudes de liderazgo </h6>
            </div>
            <ul class="social-icons">
                <a href="mailto:nico.lacho@outlook.com">
                    <li><i class="fa fa-envelope"></i></li>
                </a>
                <a href="https://github.com/NicolasErazo">
                    <li><i class="fa fa-github"></i></li>
                </a>
            </ul>
        </div>
    </div>
</div>