<div class="wrapper">
    <div class="profile">
        <div class="overlay">
            <div class="about d-flex flex-column">
                <h2>Nicolas Erazo Arce</h2>
                <h5>Ingeniero Electronico</h5>
            </div>
            <div class="professional-profile d-flex flex-column">
                <h5 class="text-center">Profesional versátil capaz de desenvolverse en un desarrollo web tanto en la
                    parte del cliente (Front End) como del servidor (Back End), con gran conocimiento en lenguajes de
                    programación como Java – PHP – Python y frameworks como los son Angular – Laravel – Django.
                    Una persona que se adapta fácilmente al cambio, con capacidad de toma de decisiones, resolución de
                    conflictos, habilidades sociales y/o comunicativas que me permiten trabajar en equipo con actitudes
                    de liderazgo; Soy responsable, amable, compañerista, perseverante, paciente
                    y confiable ante la empresa.
                </h5>
            </div>
            <ul class="social-icons">
                <a href="mailto:nico.lacho@outlook.com">
                    <li><i class="fa fa-envelope"></i></li>
                </a>
                <a href="https://github.com/NicolasErazo">
                    <li><i class="fa fa-github"></i></li>
                </a>
            </ul>
        </div>
    </div>
</div>