<div class="container py-4">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title text-center"><strong>Transactions Details By Product</strong></h5>
            </div>
            <div class="card-body">
              <a title="back to the products form" class="btn btn-secondary" href="javascript:history.back(-1);"><i class="fa-sharp fa-solid fa-arrow-left"></i></a>
              <br><br>
              <div class="table-responsive text-nowrap">
                <table class="table table-striped table-bordered text-center">
                  <thead>
                    <tr>
                      <th scope="col">Type of Transaction</th>
                      <th scope="col">Description</th>
                      <th scope="col">Value</th>
                      <th scope="col">Type of Movement</th>
                      <th scope="col">Date of Movement</th>
                      <th scope="col">User Creator</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaction of transactions">
                      <td>{{ transaction.typeOfTransaction }}</td>
                      <td>{{ transaction.description }}</td>
                      <td>{{ transaction.value }}</td>
                      <td>{{ transaction.typeOfMovement }}</td>
                      <td>{{ transaction.dateOfMovement }}</td>
                      <td>{{ transaction.userCreator }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
    </div>
</div>