<div class="container text-center py-4">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="card-title">¡Welcome to BankSophos!</h3>
                </div>
                <div class="card-body">
                        <img class="card-img" src="https://thumbs.gfycat.com/OrdinaryWellinformedGosling-max-1mb.gif" style="width: 50%;" alt="Card image">
                </div>
                <div class="card-footer text-muted" *ngIf="!token">
                    <a class="btn btn-outline-dark" title="Login aplication" href="/login"><h5><strong><em>Please Login&nbsp;</em></strong><i class="fa-solid fa-user"></i></h5></a>
                </div>
                <div class="card-footer text-muted" *ngIf="token">
                    <h5><strong><em>Use the buttons on the navigation bar to move around the page</em></strong>&nbsp;<i class="fa-solid fa-hand-holding-heart"></i></h5>
                </div>
              </div>
        </div>
    </div>
</div>
