<div class="container-fluid text-center py-3">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="card-title">¡Welcome to BankSophos!</h3>
                </div>
                <div class="card-body">
                        <img class="card-img" src="https://thumbs.gfycat.com/OrdinaryWellinformedGosling-max-1mb.gif" style="width: 50%; height: 50%;" alt="Card image">
                </div>
                <div class="card-footer text-muted">
                    <h5 *ngIf="token"><strong><em>Use the buttons on the navigation bar to move around the page</em></strong>&nbsp;<i class="fa-solid fa-hand-holding-heart"></i></h5>
                    <a title="Login aplication" href="/login"><h5 *ngIf="!token"><strong><em>Please login here&nbsp;</em></strong><i class="fa-solid fa-user-plus"></i></h5></a>
                </div>
              </div>

        </div>
    </div>
</div>
